.intro {

    .slide {
        width: 100%;
        height: 100%;
        user-select: none;
        cursor: default;
    }

    [rn-carousel-indicators] {
        position: fixed;
        z-index: 10;
        bottom: 30px;
        left: 0;
        right: 0;
    }

    .caption {
      color: #fff;
      font-size: 1.9em;
      opacity: 0;
      transform: translateY(44vh);
      transition: .4s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    }

    .hot-text {
      $y: 10vh;
      transform: translateY($y);
    }

    .cold-text {
      $y: 75vh;
      transform: translateY($y);
    }
    
    .standard-text,
    .cold-text,
    .hot-text {
      opacity: 1;
    }
}