<div class="intro page col-md-12">
  <input ng-model="user.name"></input>
  <label>{{user.name}}</label>
  <ul rn-carousel class="slide">
    <li ng-repeat="intro in intros">{{intro.title}}
      <a ng-if="intro.link" ui-sref="{{intro.link}}">You're going to have to move your feet</a>
    </li>
    <li ng-repeat="intro in intros">{{intro.title}}
      <a ng-if="intro.link" ui-sref="{{intro.link}}">The closer you get, the hotter you get</a>
    </li>
    <li ng-repeat="intro in intros">{{intro.title}}
      <a ng-if="intro.link" ui-sref="{{intro.link}}">The further you get, the colder you get</a>
    </li>
    <li ng-repeat="intro in intros">{{intro.title}}
      <a ng-if="intro.link" ui-sref="{{intro.link}}">Start moving!</a>
    </li>
  </ul>
</div>
