#wave {
  position: fixed;
  z-index: 100;
  background-image: url("/assets/images/Gradient_experiment2.png");
  background-repeat: repeat-y;
  width: 200%;
  height: 121%;
  background-size: 100% 39%;
  background-position-y: 250px;
  margin-left: -50%;
  margin-top: -20%;
}

.droplet {
  width: 250%;
  height: 150%;
  margin-left: -50%;
  margin-top: -50%;
}