
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  font-size: 1.5em;
  
}

.page {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(240,50,25,1)0%, rgba(37,0,245,1)100%);
  text-align: center;
}
.page li {
  margin-top: 400px;
}
[ui-view]{
  position: fixed;
  width: 100%;
  height: 100%;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'gradient/gradient.scss';
@import 'intro/intro.scss';
@import 'main/main.scss';
@import 'colors/colors.scss';
// endinjector
